/* default font for body */
body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
}
/* flexbox-wrapper */
#wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 0 auto;
  justify-content: center;
  margin: 0 auto;
  width: 98%;
}

/* header in three boxes */
header {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-div {
  align-items: center;
  background-color: #f2efe5;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.header-div:nth-child(2) {
  background-color: #e3e1d9;
  display: block;
  line-height: 0.75;
  text-align: center;
}

.header-div:nth-child(2) p:nth-child(1) {
  color: #b4b4b8;
  font-size: 12px;
}
.header-div:nth-child(3) {
  background-color: #cdcac1;
}

/* flexbox for main content */
#main-flex * {
  margin: 10px;
}

#main-flex {
  display: flex;
  flex-direction: row;
}

/* main section with articles and content */
section {
  display: flex;
  flex: 4;
  flex-direction: column;
}

article {
  border-bottom: 5px solid #f2efe5;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 10px;
}

/* headings */
h1 {
  font-family: Alatsi, sans-serif;
  font-size: 40px;
  line-height: 0.85;
}

h2 {
  font-size: 35px;
}

/* content size */
.blogcontent img,
.blog-content p,
aside {
  flex: 1;
}

#blog-text {
  margin-bottom: 30vh;
}

#blog-text p {
  margin-bottom: 15px;
}

/* buttons for blog posts */
article .button {
  align-self: flex-end;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  padding: 2px;
  text-align: center;
  width: 150px;
}

.post-btn {
  align-self: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  padding: 5px 2px;
  text-align: center;
  width: 120px;
}

#post-buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* placement and shadow-frame for images */
img {
  float: left;
  margin-right: 15px;
  max-height: 300px;
}

.img-paragraph img:nth-child(2) {
  float: right;
}

/* dates for blogposts */
.posted {
  border-bottom: 3px solid #f2efe5;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

/* aside search box, ul for post history */
#aside-box {
  background-color: #e3e1d9;
  border-radius: 5%;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

/* form for contact */
form {
  width: 50%;
}

/* text about author at the bottom of blogposts */
#author-box {
  border: 3px solid #f2efe5;
}

#author-box div:first-child {
  background-color: #e3e1d9;
  margin: 0;
  padding: 5px 0px;
}

/* footer with three boxes */
footer {
  display: flex;
  flex-direction: column;
}

.footer-box {
  padding: 30px;
}

.footer-box:nth-child(2) {
  background-color: #f2efe5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
}

/* table for links */
th {
  font-weight: 100;
  max-width: 98%;
  padding: 0vw 5vw;
  text-align: start;
}

.footer-box:nth-child(3) {
  background-color: #e3e1d9;
  text-align: center;
}

/* links and navigation */
a:link {
  color: black;
  font-family: Fira Sans Extra Condensed, sans-serif;
  font-weight: 100;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

h2 a:hover,
.button:hover,
.post-btn:hover {
  color: #b4b4b8;
}

a:active {
  color: #e3e1d9;
}

nav a {
  font-size: 20px;
  padding: 0px 25px;
}

p a:link,
aside a:link {
  text-decoration: underline;
}

/* layout for smaller screens */
@media screen and (max-width: 900px) {
  #main-flex,
  .blog-content,
  .img-paragraph {
    flex-direction: column;
  }

  section {
    flex: 1;
  }

  img {
    align-self: center;
    width: 50%;
  }

  #main-flex {
    align-items: center;
  }

  .posted,
  form {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  section,
  #wrapper,
  .posted {
    margin: auto 0;
    max-width: 100%;
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 25px;
  }

  th {
    padding: 2px;
  }

  .header-div:first-child {
    flex-direction: column;
    padding: 0px 0px 15px;
  }
}
