body {
  font-family: Poppins, sans-serif;
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 0 auto;
  justify-content: center;
  width: 98%;
}

header {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.header-div:nth-child(2) {
  background-color: rgb(224, 222, 222);
  display: block;
  line-height: 0.75;
  text-align: center;
}

.header-div:nth-child(2) p:nth-child(2) {
  color: darkgray;
  font-size: 12px;
}
.header-div:nth-child(3) {
  background-color: rgb(246, 242, 242);
}

#main-flex {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}

#main-flex * {
  margin: 10px;
}

section {
  display: flex;
  flex: 4;
  flex-direction: column;
}

article {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.blog-content {
  display: flex;
  flex-direction: row;
}

.img-paragraph {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: Alatsi, sans-serif;
  line-height: 0.85;
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 16px;
}

img {
  height: 40vh;
  object-fit: fill;
  width: 50vh;
}

article .button {
  align-self: flex-end;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  padding: 2px;
  text-align: center;
  width: 150px;
}

.post-btn {
  align-self: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  padding: 5px 2px;
  text-align: center;
  width: 120px;
}

aside {
  flex: 1;
}

#aside-box {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5%;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-box {
  padding: 30px;
}

.footer-box:nth-child(2) {
  background-color: rgb(224, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
}

th {
  font-weight: 100;
  text-align: start;
  padding: 0vw 5vw;
}

.footer-box:nth-child(3) {
  background-color: rgb(246, 242, 242);
  text-align: center;
}

a:link {
  color: black;
  font-family: Fira Sans Extra Condensed, sans-serif;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: lightgray;
}

a:active {
  color: gray;
}

nav a {
  padding: 0px 25px;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  #main-flex,
  .blog-content {
    flex-direction: column;
  }
  section {
    flex: 1;
  }
  #main-flex {
    align-items: center;
  }
}
